.env
node_modules
.DS_Store
.idea
*.jks
public/firebase-config.js
drivedeck-android-tv/.gradle
drivedeck-android-tv/build
drivedeck-android-tv/app/build
drivedeck-android-tv/local.properties
drivedeck-android-tv/app/release
carnival-showcase-tv/.gradle
carnival-showcase-tv/.kotlin
carnival-showcase-tv/.idea
carnival-showcase-tv/build
carnival-showcase-tv/app/build
carnival-showcase-tv/local.properties
carnival-showcase-tv/app/release
