{
	email carnivalshowcase@gmail.com

	on_demand_tls {
		ask http://127.0.0.1:3000/api/domain/allow
	}
}

your-vps-domain.example.com {
	tls {
		issuer acme {
			dir https://acme-v02.api.letsencrypt.org/directory
		}
		key_type rsa2048
	}

	encode gzip zstd
	reverse_proxy 127.0.0.1:3000
}

https:// {
	tls {
		on_demand
		issuer acme {
			dir https://acme-v02.api.letsencrypt.org/directory
		}
		key_type rsa2048
	}

	encode gzip zstd
	reverse_proxy 127.0.0.1:3000
}
